

/* ----------------------------------------
   Medium Screens
   ---------------------------------------*/

@media screen and (max-width: 767px) {
  .large-screen-menu,
  .hero-text-large-screen,
  .join-conversation,
  .docked-nav {
    display: none;
  }

  footer {
    margin-bottom: 180px;
  }

  .testimonials h2 {
    margin-top: 22px;
  }
}

@media screen and (min-width: 768px) {
   
 :root {
  font-size: 18px;
 }
  header.img-bg {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/pocket.jpg');
  }

   .sign-up-btn-small-screen,
   .hero-text-small-screen {
    display: none;
  }

  .large-screen-menu {
    float: right;
  }
  .large-screen-menu a {
    color: #fff;
    padding: 0.3333em;
  }

  .form-wrapper {
    text-align: center;
  }

  .docked-row {
    height: 55px;
  }
  .docked-logo {
    display: inline-block;
    margin-top: 6px;
  }
  .docked-logo a {
    font-size: 28px;
  }

  .docked-wrapper {
    position: relative;
  }
  .docked-form-name,
  .docked-form-email {
    position: absolute;
    top: -30px;
  }
  .docked-form-name {
    right: 378px;
  }
  .docked-form-email {
    right: 150px;
  }
  .get-started-docked {
    float: right;
    padding: .25em;
    margin-top: -26px;
    margin-right: 50px;
    border: 0.25em solid $color-main-blue;
  }
  

  .form-group,
  .docked-form-group {
    display: inline-block;
  }
  input#name[type="text"],
  input#email[type="email"] {
    height: 66px;
    width: auto;
    border: none;
  }
  .help-btn {
    margin-top: 1em;
  }

  .testimonials img {
    float: left;
    margin-left: 15%;

  }

  .bad-apples h2 {
    text-align: center;
  }

  .find-a-job,
  .career-questions,
  .connect,
  .browse-offices {
    display: block;
    width: 50%;
  }
  .find-a-job,
  .connect {
  float: left;
 }
  .career-questions,
  .browse-offices {
    float: right;
  }
  .career-questions,
  .connect {
    height: 220px;
   }
   .employer-video {
    float: right;
    max-width: 60%;
    padding-right: 5%;
   }
   .for-employers-group {
    width: 35%;
    display: inline-block;
   }
   .bottom-mobile-form {
    display: none;
   }

   /* ------------------------
   Footer medium screen
   ------------------------*/
  
  .footer-muse-logo {
    float: left;
  }
  .footer-container {
    padding: .75em;
  }
  .footer-muse-logo,
  .footer-about,
  .get-involved,
  .join-conversation {
    width: 25%;
  }
  .get-involved {
    float: left;
  }
  .join-conversation {
    float: right;
  }
  .join-conversation a {
    margin: 0.4167em;
    text-align: center;

  }
  .join-conversation i {
    font-size: 1.167em;
    color: #e4e4e4;
    background-color: $color-main-blue;
    padding: .5em;
    border-radius: 2.5em;
    width: 28px;
  }
}

/* ----------------------------------------
   Large Screens
   ---------------------------------------*/

@media screen and (min-width: 992px) {
  :root {
    font-size: 18px;
  }
  .companies-wrapper {
    max-width: 80%;
  }
}

/* ----------------------------------------
   Extra-Large Screens
   ---------------------------------------*/

@media screen and (min-width: 1200px) {
  :root {
    font-size: 20px;
  }
}










