
// Descriptive color variables

$white        : #fff;
$black        : #000;
$grey         : #555;
$shakespeare  : #53B6D0;
$mine-shaft   : #333;
$silver       : #ccc;


// Functional color variables

$color-text-base      : $grey;
$color-text-light     : $white;
$color-main-blue      : $shakespeare;
$color-almost-black   : $mine-shaft;
$color-light-grey     : $silver;